@import 'tailwindcss';

@theme inline {
  --font-kor: var(--font-gowun-dodum);
  --font-eng: var(--font-crimson-pro);

  --font-crimson: var(--font-crimson-pro);
  --font-gowun: var(--font-gowun-dodum);
  --font-noto: var(--font-noto-sans-kr);
  --font-ephesis: var(--font-ephesis);

  --color-primary: #f79e9e;

  --color-highlight: rgb(247, 158, 158);
  --color-secondary: rgb(84, 79, 79);
}

body {
  -webkit-text-stroke-color: inherit;
  -webkit-text-stroke-width: 0.2px;
  font-family:
    var(--font-gowun-dodum),
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}

@layer utilities {
  .gradient-fade-up {
    background: linear-gradient(
      0deg,
      rgba(250, 250, 250, 1) 0%,
      rgba(250, 250, 250, 0.55) 60%,
      rgba(250, 250, 250, 0.5) 73%,
      rgba(250, 250, 250, 0.25) 83%,
      rgba(250, 250, 250, 0) 100%
    );
  }

  .animate-breathing {
    animation: breathing 3s ease-in-out infinite;
  }

  @keyframes breathing {
    0%,
    100% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.8);
      opacity: 0.8;
    }
  }
}
